RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.jiangshanyu.com$
RewriteRule ^/?(.*)$ https://jiangshanyu.com/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}